{% extends 'Base/base.html' %}
{% block title %}Historia clinica{% endblock %}
{% block wrapper %}
    <section class="content-header">
        <h1>
            Historia Clinica
            <small>Modificar historia clínica</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="index.php"><i class="fa fa-home"></i> Home</a></li>
            <li class="active">Historia Clínica</li>
        </ol>
    </section>
{% endblock %}

{% block content %}

<div class="box">
    <div class="box-header">
      	<h3 class="box-title">Modificar historia clínica (*Campos Obligatorios)</h3>
    </div>
    
    <div class="box-body">
			<fieldset><legend>Datos básicos</legend>
				<div class="row">
					<div class="col-md-6 form-group">
						<label for="nombre">Nombre y apellido</label><br/>
						<input type="text" class="form-control" id="nombre" name="nombre" readonly value="{{ persona.nombre }}"/>
					</div>

					<div class="col-md-6 form-group">
						<label for="doc">Número de documento</label><br/>
						<input type="text" class="form-control" id="doc" name="doc" readonly value="{{ persona.doc }}"/>
					</div>
				</div>


				<div class="row">
					<div class="col-md-6 form-group">
						<label for="sexo">Sexo</label><br/>
						<input type="text" class="form-control" id="sexo" name="sexo" readonly value="{% if persona.sexo == 1 %}Femenino{% else %}Masculino{% endif %}"/>
					</div>

					<div class="col-md-6 form-group">
						<label for="tel">telefono de contacto</label><br/>
						<input type="text" class="form-control" id="tel" name="tel" readonly value="FIJO: {% if persona.tel == null %}-{% endif %}{{ persona.tel }} // CEL: {% if persona.cel == null %}-{% endif %}{{ persona.cel }}"/>
					</div>
				</div>
			</fieldset>
			
			<fieldset><legend>Domicilio</legend>
				<div class="row">
					<div class="col-md-6 form-group">
						<label for="dom">Domicilio</label>
						<input type="text" class="form-control" name="dom" id="dom" value="{{ persona.dom }}" readonly/>
					</div>
					
					<div class="col-md-6 form-group">
						<label for="nrocasa">Numero de casa</label>
						<input type="text" class="form-control" name="nrocasa" id="nrocasa" value="{{ persona.nro_casa }}" readonly/>
					</div>
					
					<div class="col-md-6 form-group">
						<label for="barrio">Barrio</label>
						<input type="text" class="form-control" name="barrio" id="barrio" value="{{ persona.barrio }}" readonly/>
					</div>
					
					<div class="col-md-6 form-group">
						<label for="localidad">Localidad</label>
						<input type="text" class="form-control" name="localidad" id="localidad" value="{{ persona.localidad }}" readonly/>
					</div>
					
					<div class="col-md-6 form-group">
						<label for="codpostal">Codigo postal</label>
						<input type="text" class="form-control" name="codpostal" id="codpostal" value="{{ persona.cod_postal }}" readonly/>
					</div>
					
					<div class="col-md-6 form-group">
						<label for="dpto">Departamento</label>
						<input type="text" class="form-control" name="dpto" id="dpto" value="{{ persona.dpmto }}" readonly/>
					</div>
				</div>
			</fieldset>

		<form action="../controllers/historia.php?funcion=modificarHistoria" method="post">
			<fieldset><legend>Enfermedades padecidas</legend>
				<div class="row">
					<div class="col-md-4 form-group">
						<label><input type="checkbox" name="paperas" id="paperas" {% if historia.paperas == 1 %}checked{% else %}{% endif %} >Paperas</label>
					</div>
					
					<div class="col-md-4 form-group">
						<label><input type="checkbox" name="rubeola" id="rubeola" {% if historia.rubeola == 1 %}checked{% else %}{% endif %} >Rubeola</label>
					</div>
					
					<div class="col-md-4 form-group">
						<label><input type="checkbox" name="varicela" id="varicela" {% if historia.varicela == 1 %}checked{% else %}{% endif %} >Varicela</label>
					</div>
					
					<div class="col-md-4 form-group">
						<label><input type="checkbox" name="epilepsia" id="epilepsia" {% if historia.epilepsia == 1 %}checked{% else %}{% endif %} >Epilepsia</label>
					</div>
					
					<div class="col-md-4 form-group">
						<label><input type="checkbox" name="hepatitis" id="hepatitis" {% if historia.hepatitis == 1 %}checked{% else %}{% endif %} >Hepatitis</label>
					</div>
					
					<div class="col-md-4 form-group">
						<label><input type="checkbox" name="sinusitis" id="sinusitis" {% if historia.sinusitis == 1 %}checked{% else %}{% endif %} >Sinusitis</label>
					</div>
					
					<div class="col-md-4 form-group">
						<label><input type="checkbox" name="diabetes" id="diabetes" {% if historia.diabetes == 1 %}checked{% else %}{% endif %} >Diabetes</label>
					</div>
					
					<div class="col-md-4 form-group">
						<label><input type="checkbox" name="apendicitis" id="apendicitis" {% if historia.apendicitis == 1 %}checked{% else %}{% endif %} >Apendicitis</label>
					</div>
					
					<div class="col-md-4 form-group">
						<label><input type="checkbox" name="amigdalitis" id="amigdalitis" {% if historia.amigdalitis == 1 %}checked{% else %}{% endif %} >Amigdalitis</label>
					</div>
				</div>

			</fieldset>
			
			
			
			<fieldset><legend>Alergias</legend>

				<div class="col-md-4 form-group">
					<label for="comidas">Comidas</label><br/>
					<textarea type="text" class="form-control"  id="comidas" name="comidas" rows="2" placeholder="Escribe las alergias.."  />{{ historia.comidas }}</textarea>
				</div>
				<div class="col-md-4 form-group">
					<label for="medicamentos">Medicamentos</label><br/>
					<textarea type="text" class="form-control" id="medicamentos" name="medicamentos" rows="2" placeholder="Escribe las alergias.."  />{{ historia.medicamentos }}</textarea>
				</div>
				<div class="col-md-4 form-group">
					<label for="otras">Otras</label><br/>
					<textarea type="text" class="form-control" id="otras" name="otras" rows="2" placeholder="Escribe las alergias.."  />{{ historia.otras }}</textarea>
				</div>

			</fieldset>
			
			<div class="row"><br><br>
				<div class="col-md-6">
					<input class="btn btn-block btn-success" type="submit" name="guardar_historia" value="Actualizar historia clínica" />
				</div>
				<div class="col-md-6">
					<a href="../controllers/historia.php?funcion=mostrarListado"><input class="btn btn-block btn-default" type="button" name="cancelar" value="Cancelar" /></a>
				</div>
			</div>
				<input style="display:none" type="text" class="form-control" name="id_persona" id="id_persona" value="{{ persona.id_persona }}"/>
		</form>
    </div>    
</div>
{% endblock %}

{% block javascript %}

<script>
  $(function () {
    //Initialize Select2 Elements
    $(".select2").select2();
  });
</script>

{% endblock %}
