{% extends 'Base/base.html' %}
{% block title %}Listado asociados{% endblock %}
{% block wrapper %}
    <section class="content-header">
        <h1>
            Atenciones
            <small>Nueva Atención</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="index.php"><i class="fa fa-home"></i> Inicio</a></li>
            <li class="active">Nueva Atención</li>
        </ol>
    </section>
{% endblock %}

{% block content %}
<div class="box">
    <div class="box-header">
      	<h3 class="box-title">Listado de Asociados</h3>
    </div>
    
    <div class="box-body">
      	<table id="tabla" class="table table-bordered table-striped">
        	<thead>
		        <tr>
			        <th>Nro.</th>
			        <th>Nombre y Apellido</th>
			        <th>DNI</th>
					<th>Sexo</th>
					<th>Acciones</th>
		        </tr>
        	</thead>
			
      	</table>
    </div>    
</div>
{% endblock %}

{% block javascript %}
<script>
	$(document).on("ready", function(){
		listar();
	})
 	var listar= function(){
		 $('#tabla').DataTable({
			"ajax": {
			"method":"POST",
			"url":"../api/prueba.php"},
  		"columns": [
			  {"data":"numero_soc"},
			  {"data":"nombre"},
			  {"data":"numdoc"},
			  {"data":"sexo",
			  "render": function(data, type, row, meta){
				  if(data=='1')
					return	'Masculino'
					else
					return 'femenino'
				}
			  },
			  {"data":"numero_soc",
				  "render": function(data, type, row, meta){
					return	data = '<a class="btn btn-success" href=../controllers/atenciones.php?funcion=verMas&num_soc=' + data + '>Ver más</a>';
				}
			  }
		  ],
 		"language": {
            "lengthMenu": "Mostrando _MENU_ registros por página",
			"search": "Buscar",
            "zeroRecords": "Ningún registro coincide con lo ingresado",
            "info": "Mostrando página _PAGE_ de _PAGES_",
            "infoEmpty": "No hay resultados",
            "infoFiltered": "(de un total de _MAX_ total registros)",
			"paginate": {
				"previous": "Anterior",
				"next": "Siguiente"
			}
        },
		"columnDefs": [
			{ "width": "5%", "targets": 4 }
  		]
		
 	});
	 }
</script>
{% endblock %}