{% extends 'Base/base.html' %}
{% block title %}Perfil asociado{% endblock %}
{% block wrapper %}
    <section class="content-header">
        <h1>
            Atenciones
            <small>Nueva Atención</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="index.php"><i class="fa fa-home"></i> Inicio</a></li>
            <li class="active">Nueva Atención</li>
        </ol>
    </section>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                      <li class="active"><a href="#datos" data-toggle="tab">Datos Basicos</a></li>
                      <li><a href="#planes" data-toggle="tab">Planes</a></li>
                      <li><a href="#atenciones" data-toggle="tab">Atenciones</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="active tab-pane" id="datos">
                            <div class="post">
                                {% for res in datos_basicos %}
                                    <div class="box box-solid box-primary" >  
                                        <div class="box-header">                                  
                                            <div class="user-block">
                                                {% if res.sexo == 1 %}
                                                    <img class="img-circle img-bordered-sm" src="../../static/images/user.png" alt="user image">                 
                                                {% else %}
                                                    <img class="img-circle img-bordered-sm" src="../../static/images/user_fem.png" alt="user image">
                                                {% endif %}
                                                <span class="username">
                                                  <h4 class="box-title"><b><a href="#">{{ res.nombre }}</a></b></h4>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="box-body">
                                                    <p><label>Número de documento del titular :</label> {{ res.numdoc }}
                                                    </p>
                                                    {% if res.sexo == 1 %}
                                                        <p><label>Sexo :</label> Masculino 
														<label style="color:white">_______</label><label>edad : </label>{{ res.edad }}
                                                        </p>                    
                                                    {% else %}
                                                        <p><label>Sexo :</label> Femenino 
														<label style="color:white">_______</label><label>edad : </label>{{ res.edad }}
                                                        </p> 
                                                    {% endif %}
                                                    <p><label>Fecha de nacimiento del titular : </label>{{ res.fecnacim }}
                                                    </p>
                                                    <p><label>Domicilio del titular : </label>{{ res.domicilio }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
    					
    					<div class="tab-pane" id="planes">
                            
                            {% if datos_servicios is not null %}
                                <div class="box box-primary">
                                    <div class="box-header">
                                        <h3 class="box-title">PAGO POR CUOTA</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                    {% for res2 in datos_servicios %}
                                        <div class="box box-solid box-primary" >
                                            <div class="box-header">
                                                <h3 class="box-title">{{ res2.nombre }} </h3>
                                            </div>
                                            <div class="box-body">
                                                {% if res2.codigo == 020 or res2.codigo == 884 %}
                                                <a class="btn btn-primary" href="../controllers/atenciones.php?funcion=mostrarFormulario&num_doc={{ datos_basicos.0.numdoc }}">Generar Atención</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            {% if datos_servicios_tarjeta is not null %}
                                <div class="box box-success">
                                    <div class="box-header">
                                        <h3 class="box-title">PAGO POR TARJETA</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                    {% for res2 in datos_servicios_tarjeta %}
                                        <div class="box box-solid box-success" >
                                            <div class="box-header">
                                                <h3 class="box-title">{{ res2.nombre }} </h3>
                                            </div>
                                            <div class="box-body">
                                                {% if res2.codigo == 3 or res2.codigo == 48 %}
                                                <a class="btn btn-primary" href="../controllers/atenciones.php?funcion=mostrarFormulario&num_doc={{ datos_basicos.0.numdoc }}">Generar Atención</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        
                        </div>

                        <div class="tab-pane" id="atenciones">
                            <div class="box-body">
                                <table id="tabla" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Nombre y Apellido</th>
                                            <th>Fecha inicio atención</th>
											<th>Fecha fin atención</th>
                                            <th>Diagnóstico</th>
                                            <th>Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for asistencia in datos_atenciones %}
                                                <tr>
                                                    <td>{{ asistencia['nombre'] }}</td>
                                                    <td>{{ asistencia['fec_pedido'] }} {{ asistencia['hora_pedido'] }}</td>
													
													{% if asistencia.fec_ate == '0000-00-00' %}
														<td>Todavía no finaliza</td>
													{% else %}
														<td>{{ asistencia['fec_ate'] }} {{ asistencia['hora_aten'] }}</td>
													{% endif %}
													
													<td>{{ asistencia['diagnostico'] }}</td>
                                                    
													{% if asistencia.fec_ate == '0000-00-00' %}
														<td><span class="label label-warning">En progreso</span></td>
													{% else %}
														<td><span class="label label-success">Finalizada</span></td>
													{% endif %}
                                                </tr>
                                        {% endfor %}                                       
                                    </tbody>
                                </table>
                            </div>
                            {% block javascript %}
                                <script>
                                    $('#tabla').DataTable({
                                        "language": {
                                            "lengthMenu": "Mostrando _MENU_ registros por página",
                                            "search": "Buscar",
                                            "zeroRecords": "Ningún registro coincide con lo ingresado",
                                            "info": "Mostrando página _PAGE_ de _PAGES_",
                                            "infoEmpty": "No hay resultados",
                                            "infoFiltered": "(de un total de _MAX_ total registros)",
                                            "paginate": {
                                                "previous": "Anterior",
                                                "next": "Siguiente"
                                            }
                                        }
                                    });
                                </script>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}