{% extends 'Base/base.html' %}
{% block title %}Perfil asociado{% endblock %}
{% block wrapper %}
    <section class="content-header">
        <h1>
            Atenciones
            <small>Nueva Atención</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="index.php"><i class="fa fa-home"></i> Inicio</a></li>
            <li class="active">Nueva Atención</li>
        </ol>
    </section>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                      <li class="active"><a href="#datos" data-toggle="tab">Datos Titular</a></li>
                      <li><a href="#planes-titular" data-toggle="tab">Planes del titular</a></li>
                      <li><a href="#planes-adherentes" data-toggle="tab">Planes de los adherentes</a></li>
                      <li><a href="#atenciones" data-toggle="tab">Atenciones</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="active tab-pane" id="datos">
                            <div class="post">
                                {% for res in resultadoTitular %}
                                    <div class="box box-solid box-primary" >  
                                        <div class="box-header">                                  
                                            <div class="user-block">
                                                {% if res.sexo == 1 %}
                                                    <img class="img-circle img-bordered-sm" src="../../static/images/user.png" alt="user image">                 
                                                {% else %}
                                                    <img class="img-circle img-bordered-sm" src="../../static/images/user_fem.png" alt="user image">
                                                {% endif %}
                                                <span class="username">
                                                  <h4 class="box-title"><b><a href="#">{{ res.nombre }}</a></b></h4>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="box-body">
                                                    <p><label>Número de documento del titular :</label> {{ res.numdoc }}
                                                    </p>
                                                    {% if res.sexo == 1 %}
                                                        <p><label>Sexo :</label> Masculino 
														<label style="color:white">_______</label><label>edad : </label>{{ res.edad }}
                                                        </p>                    
                                                    {% else %}
                                                        <p><label>Sexo :</label> Femenino 
														<label style="color:white">_______</label><label>edad : </label>{{ res.edad }}
                                                        </p> 
                                                    {% endif %}
                                                    <p><label>Fecha de nacimiento del titular : </label>{{ res.fecnacim }}
                                                    </p>
                                                    <p><label>Domicilio del titular : </label>{{ res.domicilio }}</p>
                                                    <div class="box box-primary"></div>
                                                    <p><label>Número de beneficio del titular : </label>{{ res.beneficio }}
                                                    </p>
                                                    <p><label>Número de socio : </label>{{ res.numero_soc }}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
    					
    					<div class="tab-pane" id="planes-titular">
                            <div class="box box-primary">
                                <div class="box-header">
                                    <h3 class="box-title">PAGO POR CUOTA</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                {% if estado[0] == '1' %}
    								{% for res2 in resultadoTitularServicios1 %}
                                        <div class="box box-solid box-primary" >
                                            <div class="box-header">
                                                <h3 class="box-title">Titular </h3>
                                            </div>
                                            <div class="box-body">
                                                <p><label>Plan: </label> {{ res2.nombreplan }} </p>
												
												<!-- Este es el botón nuevo, envía el número de socio y el código que saca de fme_adhsrv por ser PAGO POR CUOTA -->
												<a class="btn btn-primary" href="../controllers/atenciones.php?funcion=mostrarFormulario&num_soc={{ res2.numero_soc }}&cod_servicio={{ res2.codigo}}">Generar Atención</a>
												
                                            </div>
                                        </div>
    								{% endfor %}
    							{% else %}
    								<div class="callout callout-danger lead">
                                    <p>No se encontraron PLANES.</p>
                                </div>
    							{% endif %}
                                </div>
                            </div>
                            <div class="box box-danger">
                                <div class="box-header">
                                    <h3 class="box-title">PAGO POR TARJETA</h3>
                                </div>
                            </div> 
    						{% if estado[1] == '1' %}
    							{% for res22 in resultadoTitularServicios2 %}
                                    <div class="box box-solid box-primary" >
                                        <div class="box-header">
                                            <h3 class="box-title">TITULAR</h3>
                                        </div>
                                        <div class="box-body">  
                                            <p><label>Plan: </label>{{ res22.nombreplan }} </p>
											
											<!-- Este es el segundo botón nuevo, envía el número de socio y el código que saca de tar_srvadherentes por ser PAGO POR TARJETA -->
											<a class="btn btn-primary" href="../controllers/atenciones.php?funcion=mostrarFormulario&num_soc={{ res22.numero_soc }}&cod_servicio={{ res22.codigo}}">Generar Atención</a>
												
                                        </div>
                                    </div>								
    							{% endfor %}
    						{% else %}
    							<div class="callout callout-danger lead">
                                    <p>No se encontraron PLANES.</p>
                                </div>
    						{% endif %}

                        </div>

                        <div class="tab-pane" id="planes-adherentes">
                            <div class="box box-primary">
                                <div class="box-header">
                                    <h3 class="box-title">PAGO POR CUOTA</h3>
                                </div>
                            </div>
    						{% if estado[2] == '1' %}
    							{% for res3 in resultadoAdherentes1 %}                                
    								<div class="box box-solid box-primary" >
    									<div class="box-header">
    										<h3 class="box-title">Nombre del adherente: {{ res3['nombre'] }} </h3>
                                        </div>
    									<div class="box-body">
    									   <p> Relación que guarda con el titular: {{ res3['parentesco'] }} </p>
    									   <p> Plan del adherente: {{ res3['nombreplan'] }} </p>
    									   <p> Número de socio del adherente: {{ res3['numero_soc'] }} </p>
    									   <p> Número de beneficio del adherente: {{ res3['beneficio'] }} </p>
    									   
                                           <a class="btn btn-primary" href="../controllers/atenciones.php?funcion=mostrarFormulario&num_soc={{ res3.numero_soc }}&cod_servicio={{ res3.codigo}}">Generar Atención</a>
                                           


                                        </div>
                                    </div>
    						   {% endfor %}
    						{% else %}
    							<div class="callout callout-danger lead">
                                    <p>No se encontraron ADHERENTES.</p>
                                </div>
    						{% endif %}
       

                            <div class="box box-danger">
                                <div class="box-header">
                                    <h3 class="box-title">PAGO POR TARJETA</h3>
                                </div>
                            </div>                       
    						{% if estado[3] == '1' %}
    							{% for res4 in resultadoAdherentes2 %}
    								<div class="box box-solid box-danger" >
    									<div class="box-header">
    										<h3 class="box-title">Nombre del adherente: {{ res4['nombre'] }}</h3>
    									</div>
    									<div class="box-body">  
    										<p> Relación que guarda con el titular: {{ res4['parentesco'] }} </p>
    										<p> Plan del adherente: {{ res4['nombreplan'] }} </p>
    										<p> Número de socio del adherente: {{ res4['numero_soc'] }} </p>
    										<p> Nro de beneficio del adherente: {{ res4['beneficio'] }} </p>

                                            <a class="btn btn-danger" href="../controllers/atenciones.php?funcion=mostrarFormulario&num_soc={{ res4.numero_soc }}&cod_servicio={{ res4.codigo}}">Generar Atención</a>  
                                        </div>
    								</div>
    							{% endfor %}
    						{% else %}
                                <div class="callout callout-danger lead">
                                    <p>No se encontraron ADHERENTES.</p>
                                </div>
    						{% endif %}
                        </div>

                        <div class="tab-pane" id="atenciones">
                            <div class="box-body">
                                <table id="tabla" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Nombre y Apellido</th>
                                            <th>Fecha inicio atención</th>
											<th>Fecha fin atención</th>
                                            <th>Diagnóstico</th>
                                            <th>Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if estado[4] == '1' %}
                                            {% for asistencia in asistencias %}
                                                <tr>
                                                    <td>{{ asistencia['nombre'] }}</td>
                                                    <td>{{ asistencia['fec_pedido'] }} {{ asistencia['hora_pedido'] }}</td>
													
													{% if asistencia.fec_ate == '0000-00-00' %}
														<td>Todavía no finaliza</td>
													{% else %}
														<td>{{ asistencia['fec_ate'] }} {{ asistencia['hora_aten'] }}</td>
													{% endif %}
													
													<td>{{ asistencia['diagnostico'] }}</td>
                                                    
													{% if asistencia.fec_ate == '0000-00-00' %}
														<td><span class="label label-warning">En progreso</span></td>
													{% else %}
														<td><span class="label label-success">Finalizada</span></td>
													{% endif %}
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                            <div class="callout callout-danger lead">
                                                <p>No se encontraron ASISTENCIAS REALIZADAS.</p>
                                            </div>
                                        {% endif %}                                        
                                    </tbody>
                                </table>
                            </div>
                            {% block javascript %}
                                <script>
                                    $('#tabla').DataTable({
                                        "language": {
                                            "lengthMenu": "Mostrando _MENU_ registros por página",
                                            "search": "Buscar",
                                            "zeroRecords": "Ningún registro coincide con lo ingresado",
                                            "info": "Mostrando página _PAGE_ de _PAGES_",
                                            "infoEmpty": "No hay resultados",
                                            "infoFiltered": "(de un total de _MAX_ total registros)",
                                            "paginate": {
                                                "previous": "Anterior",
                                                "next": "Siguiente"
                                            }
                                        }
                                    });
                                </script>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}