<header class="main-header">
    <a href="index.php" class="logo">
        <span class="logo-mini"><b>A</b>D</span>
        <span class="logo-lg"><b>Atención a</b> Domicilio</span>
    </a>
    
    <nav class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    <a href="#" class="">
                        <span class="hidden-xs">{{use}}</span>
                    </a>
                </li>
                <li>
                    <a href="cerrarses.php" id="salir" class="btn btn-flat"><b>Salir</b></a>
                </li>
            </ul>
        </div>
    </nav>
</header>